<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cnakhn.faradarscompletion">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ExampleMaterialDesign.ExampleMDActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ExampleFragments.ExampleFragmentActivity"
            android:label="Example Fragment Activity"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Contacts.ContactsActivity"
            android:label="Contacts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".EventBus.EventBusActivity" />
        <activity android:name=".EventBus.EventBusChildActivity" />

        <service
            android:name=".Widget.ExampleWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity android:name=".Widget.ExampleAppWidgetConfigActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver android:name=".Widget.ExampleAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/example_appwidget_info" />
        </receiver>

        <activity
            android:name=".ArchitectureExample.AddEditNoteActivity"
            android:parentActivityName=".ArchitectureExample.NotesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ArchitectureExample.NotesActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.LoginActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".Activities.MapsActivity"
            android:label="Maps"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".Services.MusicPlayerService" />

        <receiver android:name=".Weather.WeatherWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.cnakhn.faradarscompletion.UPDATE_DATA" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_widget_info" />
        </receiver>

        <activity android:name=".Activities.CustomReceiverActivity" />

        <receiver android:name=".CustomReceiver">
            <intent-filter>
                <action android:name="com.cnakhn.faradarscompletion.test" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Activities.VideoPlayerActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Weather.WeatherActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.JSONParser.DetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.JSONParser.JSONParserActivity" />
        <activity
            android:name=".Activities.MusicPlayerActivity"
            android:label="Music Player"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.GoogleIdentifierActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".Activities.AuthActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.DownloadManagerActivity"
            android:label="Download Manager" />
        <activity
            android:name=".Activities.ChartsActivity"
            android:label="Charts" />
        <activity
            android:name=".Activities.NumberReceiverActivity"
            android:label="BroadcastReceiver" />
        <activity
            android:name=".Activities.NetworkActivity"
            android:label="Network Activity" />
        <activity
            android:name=".Activities.IntroSliderActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.TicTacToeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.CircularRevealActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.MultiTabActivity"
            android:label="@string/title_activity_multi_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ProductsActivity"
            android:label="Recycler View" />
        <activity
            android:name=".Activities.FragmentsActivity"
            android:label="Fragments" />
        <activity
            android:name=".Activities.SQLiteDatabaseActivity"
            android:label="SQLite Database" />
        <activity
            android:name=".Activities.XMLParserActivity"
            android:label="XML Parser" />
        <activity
            android:name=".Activities.FilesActivity"
            android:label="Files"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ProfileActivity"
            android:label="Edit your profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".DataModel.Contract.ContractNumberReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <service android:name=".Services.WeatherInfoService" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDlHozTSxt8toEil_j1shuTb3xkGmak6nM" />

        <service
            android:name=".Services.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorGrey" />
    </application>

</manifest>